<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/contentLayout}"
      layout:fragment="content"
>
<head>
    <title>로그인</title>
</head>
<script th:inline="javascript" type="text/javascript">
    function login() {
        fetch("/api/v1/auth/login", {
          method: 'POST',
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify($("#loginForm").serializeObject()),
        }).then((res) => console.log(res))
    }
</script>
<body cz-shortcut-listen="true">
<section class="h-100">
    <div class="container h-100 pt-5">
        <div class="row justify-content-sm-center h-100 pt-5">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4">로그인</h1>
                        <form class="needs-validation" id="loginForm" novalidate="" autocomplete="off">
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="email">이메일</label>
                                <input id="email" type="email" class="form-control" name="email" value="" required="" autofocus="">
                                <div class="invalid-feedback">
                                    Email is invalid
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="mb-2 w-100">
                                    <label class="text-muted" for="password">패스워드</label>
                                    <a href="forgot.html" class="float-end">
                                        비밀번호를 잊으셨나요?
                                    </a>
                                </div>
                                <input id="password" type="password" class="form-control" name="password" required="">
                                <div class="invalid-feedback">
                                    Password is required
                                </div>
                            </div>

                            <div class="d-flex align-items-center">
                                <div class="form-check">
                                    <input type="checkbox" name="remember" id="remember" class="form-check-input">
                                    <label for="remember" class="form-check-label">아이디 저장하기</label>
                                </div>
                                <button type="button" class="btn btn-primary ms-auto" onclick="login()">
                                    로그인
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer py-3 border-0">
                        <div class="text-center">
                            아직 가입을 하지 않으셨나요? <a th:href="@{/members/join}" href="#" class="text-dark">신규 가입</a>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-5 text-muted">
                    Copyright © 2023
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
